
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.stat-heading {
    margin-bottom: 30px;
    
}
.stat-heading h6{
    color: rgb(117, 111, 111);
}
.stat-heading .title{
    z-index: 9999;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
.stat-heading:hover{
    color: #24b98d;
    text-shadow: 0 5px 5px #24b98d;
    -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  animation: bounce 1s;
}
