.card-list-item
{
    color: black;
    font-size: 1.2vw;

}

.card-list-item:hover{
    color: rgb(233, 197, 36);
}

.card-list-sub{
    margin-left: 110px;
}
@media screen and (max-width:1200px){
    .card-list-item{
        font-size: 1.1rem;
    }
}
