.details-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 1.5px 0.5px rgb(204 201 201);

}

.image-container{    
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container::after{
    content: '';
    position: absolute;
    left: 0;
    /* top: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top ,rgba(255, 255, 255, 2.0),rgba(255, 255, 255, 0))
}
.image-details{
    width:30rem;
    height: 14.5rem;
    object-fit: cover;
    object-position: 2% 80%;

}

.active{
    display: flex;
    color: #777777;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 1.5px 2.5px #f2f2f2;
    padding-left: 3rem;
    padding-right: 7rem;
    justify-content: space-between;
}

.inactive{
    display:flex;
    color: #777777;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 7rem;
    justify-content: space-between;

}
.active-text{
    padding-top:0.6rem
}

.active-number{
    font-size:2rem;
    color:orange;

}

.inactive-number{
    font-size: 2rem;
    color:red;
}

.img-txt-wrapper{
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 1.5rem;
    left: 1rem;
    color: #34364c;
    flex-direction: column;
}

.img-txt-srv{
    font-size: 1rem;
    font-weight: 600;
}

.img-txt{
    font-size: 2rem;
    font-weight: bold;
}