.tab-container{
    margin-top:0.5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background-color:#f9f9f9;
}

.tabs{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.8rem;
    height: 4rem;
    padding-left:2rem;
    background-color: var(--white);
    align-items: center;
    border-radius: .4rem;
    box-shadow: 0px 0px 1.5px 0.5px rgb(204, 201, 201);
    display:flex;
    grid-column-gap:15rem;
    font-size:1.3rem;
    font-weight:bold;
    position: relative;
    color:#353944
}

.tabs::after{  
    content:" ";
    display: inline-block;
    position:absolute;
    bottom:0rem;
    left:0.2rem;
    width:10.5rem;
    height:0.5rem;
    background-color:#62ab73;
    border: solid 1px #ffffff
}
.service-text{
    position: absolute;
    right: 3rem;
    font-size: 1.1rem;
    top: 8.8rem;

}

.service-text:before{
    content:'+';
    padding-left:0.4rem;
    padding-right: 0.4rem;
    align-content: center;
    margin-right:1rem;
    color:white;
    border-radius: 50%;
    background-color:#73d2b0;
}
.outlet-container{
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-auto-rows: max-content; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: min-content auto;
    grid-column-gap: 3rem;
    grid-row-gap: 1.1rem;
    /* height: 100%; */
    
    padding-right: 4.4rem;
    padding-left: 2rem;
    padding-top: 2.8rem;
    padding-bottom: 4.5rem;
}