

.sidebar-container{
    flex:1;
    background-color: var(--aqua-green);
    box-shadow: 0 2px 5px var(--dark-green);
 }
.sidebar{
  font-size:1.5rem;
  padding-top:3.5rem;
  padding-left:3.0rem;
  color: white;
  font-family: 'Kanit', sans-serif;
 }
 .items-wrapper{
     display:flex;
     height: 4rem;
     grid-row-gap:1rem;
     grid-column-gap: 1rem;
     align-items: center;
     /* margin-bottom: 1rem; */
 }
 .items-wrapper:active{
     background-color:var(--white);
     border-top-left-radius: 1.55rem;
     border-bottom-left-radius: 1.55rem;


 }
 .items-wrapper:hover{
    background-color:var(--white);
    border-top-left-radius: 1.55rem;
    border-bottom-left-radius: 1.55rem;


}

.items-wrapper:target{
    background-color:var(--white);
    border-top-left-radius: 1.55rem;
    border-bottom-left-radius: 1.55rem;


}
 .items{
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight:bold;
    color: var(--white);
    padding-left: 1rem;
    fill:white;
 }
.items:active{
    color:orange;
    fill:orange
}
.items:hover{
    color:orange;
    fill:orange
}

.logout-wrapper{
    position: absolute;
    display: flex;
    bottom: 3rem;
    padding-left:3.0rem;
}
.logout-img{
    fill:white;
    width:2rem;
    height:2rem;
}