@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');

ul{
    list-style: none;
    
}
.list2{
    font-size: 25px;
    font-family: 'Noto Sans Mono', monospace;
    color: rgb(63, 60, 60);
    padding-bottom: 10px;
    
    
}
.list3,.list4{
    font-size: 25px;
    font-family: 'Noto Sans Mono', monospace;
    color: rgb(63, 60, 60);
    padding-bottom: 10px;
    margin-left: 70px;
    
}
.list2:hover,.list3:hover:hover,.list4:hover{
    border-bottom: 0.3125rem solid #22a77f;
    color: rgb(243, 141, 8) ;
    text-decoration: none;
    text-transform:unset
     
}
