
.App {
 width:100%;
 height:100%
}

.header{
  width:100%;
  height:3.6rem;
  z-index:2;
  box-shadow: 0 2px 1px rgb(0 0 0 / 0.2);
  display:flex;

  /* //box-shadow */
}

.logo{
  flex:1;
  display:flex;
  position: relative;
}
.logo::after{
  content: '';
  display: inline-block;
  width: 0.3rem;
  height: 2.2rem;
  background-color:rgb(64 63 63 / 43%);
  border: solid 1px #ffffff;
  position: absolute;
  right:0rem;
  top:0.5rem;


}
.title-wrapper{
  flex:4;
  /* text-align:center; */
}
.title-text{
  font-size:1.3rem;
  padding-top:0.9rem;
  padding-left:2.2rem;
  font-weight: bold;
  color:var(--aqua-green)

}

.maindiv{
  width:100%;
  height:100%;
  display: flex;
 }
 .dashboard-container{
  flex:4;
 }