*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  --aqua-green: #2ac48e;
  --dark-green:#36c08dce;
  --white: white;
}

